html body {
  background-color: rgba(219, 96, 50, 0.4);
  text-align: center;
}

h1 {
  font-family: 'Lalezar', cursive;
  color: rgb(232, 42, 12);
  text-decoration: underline;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-family: 'Lalezar', cursive;
  color: blue;
  text-decoration: underline;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th{
  text-align: center;
  font-size: 1.2em;
  padding-left: 8px ;
}

tr {
  border: 1px solid black;
  font-weight: bold;
  text-align: right;
  font-size: 1.1em;
  padding: 10px;
}

td.location-name {
  text-align: left;
  font-weight: bold;
  font-size: 19px;
  color: rgb(7, 0, 145);
}

td.total-class {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 21px;
  color: rgb(6, 2, 80);
}

td.hourly-cookies {
  font-weight: bold;
}

td.total-cookies {
  font-size: 21px;
  font-weight: bold;
  color:rgb(1, 62, 55);
  background-color: rgba(124, 45, 11, 0.7)
}

td {
  border: 1px solid black;
  text-align: center;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  background-color: rgba(219, 96, 50, .9);
}

figure {
  background: blue;
  width: 50%;
  margin: auto;
  border: 1px solid blue;
  border-radius: 10px;
}

img {
  width:100%;
  height:100%;
}

p {
  margin: auto;
  padding: 1%;
  background-color: rgba(219, 96, 50, .9);
  width: 40%;
  border-radius: 2px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
