* {

}

html body {
  background-color: rgba(219, 96, 50, 0.4);
  text-align: center;
}

h1 {
  font-family: serif;
  color: rgb(232, 42, 12);
  text-decoration: underline;
}

table {
  margin: auto;
}

tbody{
  display: none;
}

th{
  text-align: center;
  font-size: 1.2em;
  padding-left: 8px ;
}


tr {
  border: 5px solid black;
  font-weight: bold;
  text-align: right;
  font-size: 1.1em;
}

td {
  border: 1px solid black;
  text-align: center;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
}

ul {
  margin:auto;
  padding: 1%;
  background-color: rgba(219, 96, 50, .9);
  width: 20%;
  border-radius: 2%;
  list-style-type: none;
  font-weight: bold;

}

li {
  font-family: sans-serif;
  color: rgb(12, 14, 232);
}
