html body {
  background-color: rgba(219, 96, 50, 0.4);
  text-align: center;
}

h1 {
  font-family: 'Lalezar', cursive;
  color: rgb(232, 42, 12);
  text-decoration: underline;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-family: 'Lalezar', cursive;
  color: blue;
  text-decoration: underline;
}

h3 {
  font-size: 1.7em;
  font-family: sans-serif;
  font-weight: bold;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th{
  text-align: center;
  font-size: 1.2em;
  padding-left: 8px;
  color: rgb(7, 0, 145);
}

td.location-name {
  text-align: left;
  font-weight: bold;
  font-size: 19px;
  color: rgb(7, 0, 145);
}

td.total-class {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 21px;
  color: rgb(6, 2, 80);
}

td.hourly-cookies {
  font-weight: bold;
}

td.total-cookies {
  font-size: 21px;
  font-weight: bold;
  color:rgb(1, 62, 55);
  background-color: rgba(124, 45, 11, 0.7)
}

td {
  border: 1px solid black;
  text-align: center;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  background-color: rgba(219, 96, 50, .9);
}

td:hover {
  background-color: rgba(110, 30, 0, 0.9);
}

form {
  margin: auto;
  padding: 2%;
}

figure {
  background-image: url('imgs/83949_0_480x360.jpg' );
  width: 50%;
  margin: auto;
  border: 1px solid blue;
  border-radius: 10px;
}

img {
  width:100%;
  height:100%;
}

img:hover {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.53);
  border: 1px solid blue;
  border-radius: 10px;
}

figure:hover {
  background-color: rgba(0, 0, 0, 0.53);
  border: 1px solid blue;
  border-radius: 10px;
}

button {
  margin: 0.5%;
}

div {
  margin: auto;
  padding-top: 1%;
  width: 40%;
  font-weight: bold;
  color: blue;
  text-align: center;
}

ul {
  background-color: rgba(219, 96, 50, .9);
  border-radius: 2px;
  font-weight: bold;
  color: blue;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 1%;
}

li {
  margin-right: 1%;
  font-size: 1.5em;
}
